@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&family=Righteous&display=swap');

$bodyFont: 'Montserrat Alternates', sans-serif;
$logoFont: 'Righteous', cursive;

$primaryOrange: #ffa500;
$primaryWhite: #f5f5f5;
$primaryBlack: #232b2b;